body {
  background-color: hsl(216, 92%, 24%);
  color: white; /* strong contrast*/
  font-family: sans-serif;
}

/* Make links visible on dark background */
a {
  color: white;
  text-decoration: underline;
}

h1, h2, h3 {
  text-align: center;
}

p {
  line-height: 1.5;
}


/* team-name style*/
.team-name {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

/* Styles for small section titles */
.subheader {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}

/* Responsive Design: Adjust for Small Screens */
@media (max-width: 600px) {
  body {
    font-size: 16px;
    padding: 10px;
  }

  /* preventing images from being too large */
  img {
    width: 90% ;
  }
  h1 {
    font-size: 28px;
  }
}