body {
  background-color: hsl(216, 92%, 24%);
  font-family: sans-serif;
}

h1, h2, h3 {
  text-align: center;
}

p {
  line-height: 1.5;
}


/* team-name style*/
.team-name {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

/* Styles for small section titles */
.subheader {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}